[submodule "themes/next"]
	path = themes/next
	url = https://github.com/next-theme/hexo-theme-next
[submodule "themes/kaze"]
	path = themes/kaze
	url = https://github.com/theme-kaze/hexo-theme-kaze.git
